# Git Resource
https://github.com/ShaikhWarsi/free-ai-tools#nvidia-nim


# Cloudflare
CF_ACC_ID=
CF_API_TOKEN=

# OpenRouter
OR_KEY=

# Groq
GROQ_KEY=


# Nvidia NIM NVIDIABuild-Autogen-48
NIM_KEY=



